#what .items {
  display: block;
  padding: 1.2rem;
}

/* Align icon to left */
#what .items .item {
  display: flex ;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
} 

/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 10px;
  }

  #navbar ul {
    padding: 10px;
  }

  /* Section: Who We Are */

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #who h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #who p {
    margin-bottom: 20px;
  }

  /* Contact Form */
  #contact {
    flex-direction: column;
    height: 700px;
  }

  #contact .map {
    background-size: cover;
  }
}